/**
 * Structure using Kouto Swiss, Jeet and Rupture
 *
 * Kouto Swiss: https://github.com/leny/kouto-swiss
 * Jeet: https://github.com/mojotech/jeet
 * Rupture: https://github.com/jescalan/rupture
 *
 */
@import url("../vendor/bootstrap/dist/css/bootstrap.min.css");
@import url("../vendor/flexboxgrid/dist/flexboxgrid.min.css");
@import url("../vendor/css-hamburgers/dist/hamburgers.min.css");
@import url("../vendor/slick-carousel/slick/slick.css");
@import url("../vendor/font-awesome/css/font-awesome.min.css");
@import url("../vendor/izimodal/css/iziModal.min.css");
@font-face {
  font-family: 'Open Sans';
  font-weight: 300;
  src: url("../fonts/open-sans/hinted-OpenSans-Light.eot");
  src: local("Open Sans"), url("../fonts/open-sans/hinted-OpenSans-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/open-sans/hinted-OpenSans-Light.woff2") format("woff2"), url("../fonts/open-sans/hinted-OpenSans-Light.woff") format("woff"), url("../fonts/open-sans/hinted-OpenSans-Light.ttf") format("truetype"), url("../fonts/open-sans/hinted-OpenSans-Light.svg#Open Sans") format("svg");
}
@font-face {
  font-family: 'Open Sans';
  font-weight: 400;
  src: url("../fonts/open-sans/hinted-OpenSans.eot");
  src: local("Open Sans"), url("../fonts/open-sans/hinted-OpenSans.eot?#iefix") format("embedded-opentype"), url("../fonts/open-sans/hinted-OpenSans.woff2") format("woff2"), url("../fonts/open-sans/hinted-OpenSans.woff") format("woff"), url("../fonts/open-sans/hinted-OpenSans.ttf") format("truetype"), url("../fonts/open-sans/hinted-OpenSans.svg#Open Sans") format("svg");
}
@font-face {
  font-family: 'Open Sans';
  font-weight: 600;
  src: url("../fonts/open-sans/hinted-OpenSans-Semibold.eot");
  src: local("Open Sans"), url("../fonts/open-sans/hinted-OpenSans-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/open-sans/hinted-OpenSans-Semibold.woff2") format("woff2"), url("../fonts/open-sans/hinted-OpenSans-Semibold.woff") format("woff"), url("../fonts/open-sans/hinted-OpenSans-Semibold.ttf") format("truetype"), url("../fonts/open-sans/hinted-OpenSans-Semibold.svg#Open Sans") format("svg");
}
@font-face {
  font-family: 'Open Sans';
  font-weight: 700;
  src: url("../fonts/open-sans/hinted-OpenSans-Bold.eot");
  src: local("Open Sans"), url("../fonts/open-sans/hinted-OpenSans-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/open-sans/hinted-OpenSans-Bold.woff2") format("woff2"), url("../fonts/open-sans/hinted-OpenSans-Bold.woff") format("woff"), url("../fonts/open-sans/hinted-OpenSans-Bold.ttf") format("truetype"), url("../fonts/open-sans/hinted-OpenSans-Bold.svg#Open Sans") format("svg");
}
.container {
  *zoom: 1;
  width: auto;
  max-width: 73.125rem;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
  padding: 0 0.938rem;
}
.container:before,
.container:after {
  content: '';
  display: table;
}
.container:after {
  clear: both;
}
@media only screen and (min-width: 1440px) {
  .container {
    *zoom: 1;
    width: auto;
    max-width: 79.375rem;
    float: none;
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding-left: 0;
    padding-right: 0;
    padding: 0 0.938rem;
  }
  .container:before,
  .container:after {
    content: '';
    display: table;
  }
  .container:after {
    clear: both;
  }
}
.max-page {
  max-width: 1920px;
  margin: 0 auto;
}
.bg-parallax {
  background-size: cover;
  background-repeat: repeat;
  background-position: center;
}
@media only screen and (min-width: 970px) {
  .bg-parallax {
    background-attachment: fixed;
    background-position: 50% 50%;
  }
}
.align-middle {
  display: table;
  width: 100%;
  height: 100%;
  table-layout: fixed;
}
.align-middle .container,
.align-middle .middle {
  display: table-cell;
  width: 100%;
  vertical-align: middle;
}
.padding-0 {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}
.padding-top-0 {
  padding-top: 0px !important;
}
.padding-bottom-0 {
  padding-bottom: 0px !important;
}
.margin-0 {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}
.margin-top-0 {
  margin-top: 0px !important;
}
.margin-bottom-0 {
  margin-bottom: 0px !important;
}
.padding-5 {
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}
.padding-top-5 {
  padding-top: 5px !important;
}
.padding-bottom-5 {
  padding-bottom: 5px !important;
}
.margin-5 {
  margin-top: 5px !important;
  margin-bottom: 5px !important;
}
.margin-top-5 {
  margin-top: 5px !important;
}
.margin-bottom-5 {
  margin-bottom: 5px !important;
}
.padding-10 {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}
.padding-top-10 {
  padding-top: 10px !important;
}
.padding-bottom-10 {
  padding-bottom: 10px !important;
}
.margin-10 {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}
.margin-top-10 {
  margin-top: 10px !important;
}
.margin-bottom-10 {
  margin-bottom: 10px !important;
}
.padding-15 {
  padding-top: 15px !important;
  padding-bottom: 15px !important;
}
.padding-top-15 {
  padding-top: 15px !important;
}
.padding-bottom-15 {
  padding-bottom: 15px !important;
}
.margin-15 {
  margin-top: 15px !important;
  margin-bottom: 15px !important;
}
.margin-top-15 {
  margin-top: 15px !important;
}
.margin-bottom-15 {
  margin-bottom: 15px !important;
}
.padding-20 {
  padding-top: 20px !important;
  padding-bottom: 20px !important;
}
.padding-top-20 {
  padding-top: 20px !important;
}
.padding-bottom-20 {
  padding-bottom: 20px !important;
}
.margin-20 {
  margin-top: 20px !important;
  margin-bottom: 20px !important;
}
.margin-top-20 {
  margin-top: 20px !important;
}
.margin-bottom-20 {
  margin-bottom: 20px !important;
}
.padding-25 {
  padding-top: 25px !important;
  padding-bottom: 25px !important;
}
.padding-top-25 {
  padding-top: 25px !important;
}
.padding-bottom-25 {
  padding-bottom: 25px !important;
}
.margin-25 {
  margin-top: 25px !important;
  margin-bottom: 25px !important;
}
.margin-top-25 {
  margin-top: 25px !important;
}
.margin-bottom-25 {
  margin-bottom: 25px !important;
}
.padding-30 {
  padding-top: 30px !important;
  padding-bottom: 30px !important;
}
.padding-top-30 {
  padding-top: 30px !important;
}
.padding-bottom-30 {
  padding-bottom: 30px !important;
}
.margin-30 {
  margin-top: 30px !important;
  margin-bottom: 30px !important;
}
.margin-top-30 {
  margin-top: 30px !important;
}
.margin-bottom-30 {
  margin-bottom: 30px !important;
}
.padding-35 {
  padding-top: 35px !important;
  padding-bottom: 35px !important;
}
.padding-top-35 {
  padding-top: 35px !important;
}
.padding-bottom-35 {
  padding-bottom: 35px !important;
}
.margin-35 {
  margin-top: 35px !important;
  margin-bottom: 35px !important;
}
.margin-top-35 {
  margin-top: 35px !important;
}
.margin-bottom-35 {
  margin-bottom: 35px !important;
}
.padding-40 {
  padding-top: 40px !important;
  padding-bottom: 40px !important;
}
.padding-top-40 {
  padding-top: 40px !important;
}
.padding-bottom-40 {
  padding-bottom: 40px !important;
}
.margin-40 {
  margin-top: 40px !important;
  margin-bottom: 40px !important;
}
.margin-top-40 {
  margin-top: 40px !important;
}
.margin-bottom-40 {
  margin-bottom: 40px !important;
}
.padding-45 {
  padding-top: 45px !important;
  padding-bottom: 45px !important;
}
.padding-top-45 {
  padding-top: 45px !important;
}
.padding-bottom-45 {
  padding-bottom: 45px !important;
}
.margin-45 {
  margin-top: 45px !important;
  margin-bottom: 45px !important;
}
.margin-top-45 {
  margin-top: 45px !important;
}
.margin-bottom-45 {
  margin-bottom: 45px !important;
}
.padding-50 {
  padding-top: 50px !important;
  padding-bottom: 50px !important;
}
.padding-top-50 {
  padding-top: 50px !important;
}
.padding-bottom-50 {
  padding-bottom: 50px !important;
}
.margin-50 {
  margin-top: 50px !important;
  margin-bottom: 50px !important;
}
.margin-top-50 {
  margin-top: 50px !important;
}
.margin-bottom-50 {
  margin-bottom: 50px !important;
}
.padding-70 {
  padding-top: 70px !important;
  padding-bottom: 70px !important;
}
.padding-top-70 {
  padding-top: 70px !important;
}
.padding-bottom-70 {
  padding-bottom: 70px !important;
}
.margin-70 {
  margin-top: 70px !important;
  margin-bottom: 70px !important;
}
.margin-top-70 {
  margin-top: 70px !important;
}
.margin-bottom-70 {
  margin-bottom: 70px !important;
}
.padding-100 {
  padding-top: 100px !important;
  padding-bottom: 100px !important;
}
.padding-top-100 {
  padding-top: 100px !important;
}
.padding-bottom-100 {
  padding-bottom: 100px !important;
}
.margin-100 {
  margin-top: 100px !important;
  margin-bottom: 100px !important;
}
.margin-top-100 {
  margin-top: 100px !important;
}
.margin-bottom-100 {
  margin-bottom: 100px !important;
}
.uppercase {
  text-transform: uppercase;
}
.relative {
  position: relative;
  overflow: hidden;
}
.animated-fast {
  -webkit-animation-duration: 1s !important;
  animation-duration: 1s !important;
}
.animated-medium {
  -webkit-animation-duration: 2.5s !important;
  animation-duration: 2.5s !important;
}
.animated-slow {
  -webkit-animation-duration: 5s !important;
  animation-duration: 5s !important;
}
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}
body,
html {
  max-width: 1920px;
  margin: 0 auto;
  padding: 0;
  font-size: 100%;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5;
}
img {
  max-width: 100%;
}
p {
  margin: 0 0 0.938rem;
  padding: 0;
}
p:last-child {
  margin: 0;
}
strong,
b,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}
main {
  overflow: hidden;
  zoom: 1;
}
.action {
  padding: 1.875rem 0;
  color: #fff;
  text-align: center;
  background-color: #313131;
}
.action .text {
  padding: 0.5rem 0;
  font-size: 1.125rem;
  font-weight: 600;
  color: #fff;
}
.action a {
  display: block;
  margin: 0.625rem 1.25rem;
}
@media only screen and (min-width: 480px) {
  .action a {
    display: inline-block;
  }
}
.action--faq {
  background-color: #1f1f1f;
}
.blogger {
  padding: 3.125rem 0;
}
.blogger-posts {
  padding: 0 1.563rem;
}
.button {
  -webkit-transition: 0.5s all ease-in-out;
  transition: 0.5s all ease-in-out;
  display: inline-block;
  padding: 0.5rem 0.938rem;
  margin: 0;
  outline: 0;
  border: 0;
  color: #1f1f1f;
  text-decoration: none;
  background-color: #f2f2f2;
}
.button:hover,
.button:focus {
  text-decoration: none !important;
  background-color: #d8d8d8;
}
.button-outline {
  background-color: transparent;
  color: #fff;
  border: 1px solid #fff;
}
.button-outline:hover,
.button-outline:focus {
  background-color: #fff;
  color: #0b2e4a;
}
.button-white-blue-dark {
  font-weight: 600;
  background-color: #fff;
  color: #0b2e4a;
}
.button-white-blue-dark:hover,
.button-white-blue-dark:focus {
  background-color: #69cbf7;
  color: #fff;
}
.button-white-wine {
  font-weight: 600;
  background-color: #fff;
  color: #42131d;
}
.button-white-wine:hover,
.button-white-wine:focus {
  background-color: #42131d;
  color: #fff;
}
.button-red {
  font-weight: 600;
  background-color: #98181d;
  color: #fff;
}
.button-red:hover,
.button-red:focus {
  background-color: #7a1317;
  color: #fff;
}
.button-blue {
  font-weight: 600;
  background-color: #3372a4;
  color: #fff;
}
.button-blue:hover,
.button-blue:focus {
  background-color: #1f4462;
  color: #fff;
}
.button-block {
  display: block !important;
  width: 100%;
  text-align: center;
}
.button-prev,
.button-next {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 0;
  background-color: transparent;
  outline: 0;
}
.button-prev:hover,
.button-next:hover,
.button-prev:focus,
.button-next:focus {
  outline: 0;
}
.button-prev:after,
.button-next:after,
.button-prev:before,
.button-next:before {
  -webkit-transform: rotate(-130deg);
  -ms-transform: rotate(-130deg);
  transform: rotate(-130deg);
  position: absolute;
  content: '';
  left: 0;
  right: 0;
  height: 1px;
  top: 1px;
  background-color: #afefd3;
}
.button-prev:before,
.button-next:before {
  -webkit-transform: rotate(130deg);
  -ms-transform: rotate(130deg);
  transform: rotate(130deg);
  top: 17px;
}
.button-prev {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.button-img-next {
  width: 95px;
  height: 38px;
  border: 0;
  cursor: pointer;
  background-color: transparent;
  background-image: url("../img/next.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.button-img-next:hover,
.button-img-next:focus {
  outline: 0;
}
.carousel-clients {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0 1.25rem 3.125rem;
  color: #fff;
  background-color: #313131;
  background-image: url("../img/background-clientes.jpg");
}
.carousel-clients .container {
  position: relative;
}
.carousel-clients .page-header .title {
  color: #fff;
}
.carousel-clients .owl-clients .item {
  display: block;
  text-align: center;
}
.carousel-clients .owl-clients .item img {
  display: inline-block;
  max-width: 100%;
  width: auto;
}
.carousel-clients .owl-direction {
  position: absolute;
  top: 155px;
}
.carousel-clients .owl-direction.button-prev {
  left: -20px;
}
.carousel-clients .owl-direction.button-next {
  right: -20px;
}
.carousel-testimonials {
  position: relative;
  padding: 0;
  text-align: center;
  border-top: 6.25rem solid #fff;
  background-color: #f2f2f2;
}
.carousel-testimonials .carousel {
  *zoom: 1;
  width: auto;
  max-width: 60.625rem;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
  margin-top: -5.312rem;
}
.carousel-testimonials .carousel:before,
.carousel-testimonials .carousel:after {
  content: '';
  display: table;
}
.carousel-testimonials .carousel:after {
  clear: both;
}
.carousel-testimonials .carousel .slick-arrows {
  position: absolute;
  top: 50%;
  right: auto;
  bottom: auto;
  left: 0;
  width: 2.5rem;
  height: 3.125rem;
  margin-top: 1.563rem;
  border: 0;
  outline: none;
  background-image: url("../img/arrow-black.png");
  background-color: transparent;
  background-repeat: no-repeat;
}
.carousel-testimonials .carousel .slick-arrows.slick-next {
  position: absolute;
  top: 50%;
  right: 0;
  bottom: auto;
  left: auto;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.carousel-testimonials .carousel .slide {
  *zoom: 1;
  width: auto;
  max-width: 42.5rem;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
  padding: 0 2.5rem 3.125rem;
}
.carousel-testimonials .carousel .slide:before,
.carousel-testimonials .carousel .slide:after {
  content: '';
  display: table;
}
.carousel-testimonials .carousel .slide:after {
  clear: both;
}
.carousel-testimonials .carousel .author-avatar {
  width: 10.625rem;
  height: 10.625rem;
  margin: 0 auto;
  border-radius: 100%;
  border: 0.313rem solid #fff;
  background-color: #fff;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.carousel-testimonials .carousel .author-name,
.carousel-testimonials .carousel .author-subtitle {
  display: block;
  width: 100%;
  height: 100%;
  font-size: 1rem;
  font-weight: 600;
}
.carousel-testimonials .carousel .author-subtitle {
  font-weight: 400;
}
.slick-home {
  position: relative;
}
.slick-home .slick-slide {
  height: 100vh;
}
.slick-home .item {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  min-height: 500px;
  background-position: top center;
}
.slick-home .item-caption {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 0;
  right: 0;
  max-width: 1250px;
  width: 100%;
  margin: 0 auto;
  padding: 2.813rem 0.938rem 0;
  z-index: 2;
  color: #fff;
}
@media only screen and (min-width: 600px) {
  .slick-home .item-caption {
    font-size: 1.5rem;
  }
  .slick-home .item-caption p {
    font-size: 1.5rem;
  }
}
.slick-home .item-caption h1,
.slick-home .item-caption h2,
.slick-home .item-caption h3,
.slick-home .item-caption h4,
.slick-home .item-caption h5,
.slick-home .item-caption h6,
.slick-home .item-caption .title {
  position: relative;
  display: block;
  font-size: 2rem;
  font-weight: 700;
  margin: 0 0 0.625rem;
  padding: 0;
  color: #fff;
  line-height: 1.2;
}
.slick-home .item-caption h1:before,
.slick-home .item-caption h2:before,
.slick-home .item-caption h3:before,
.slick-home .item-caption h4:before,
.slick-home .item-caption h5:before,
.slick-home .item-caption h6:before,
.slick-home .item-caption .title:before {
  content: '';
  position: absolute;
  top: -0.937rem;
  right: auto;
  bottom: auto;
  left: 0;
  width: 3.75rem;
  height: 0.25rem;
  background: #fff;
}
@media only screen and (min-width: 600px) {
  .slick-home .item-caption h1,
  .slick-home .item-caption h2,
  .slick-home .item-caption h3,
  .slick-home .item-caption h4,
  .slick-home .item-caption h5,
  .slick-home .item-caption h6,
  .slick-home .item-caption .title {
    font-size: 2.625rem;
  }
}
.ebooks {
  padding: 3.125rem 0;
}
.ebooks .ebook {
  background-position: bottom;
  background-repeat: repeat-x;
}
@media only screen and (min-width: 1024px) {
  .ebooks .ebook {
    border-bottom: 4.375rem solid #fff;
    background-image: url("../img/pattern-ebooks.png");
  }
}
.ebooks .ebook .row {
  width: 100%;
  height: 100%;
}
@media only screen and (min-width: 1024px) {
  .ebooks .ebook .row {
    width: 100%;
    height: 18.75rem;
  }
}
.ebooks .ebook-container {
  cursor: pointer;
  margin: 0 0 1.25rem;
}
@media only screen and (min-width: 1024px) {
  .ebooks .ebook-container {
    margin: 0;
  }
}
.ebooks .ebook-container > img {
  padding-bottom: 3.125rem;
  margin-bottom: -3.125rem;
}
@media only screen and (min-width: 1024px) {
  .ebooks .ebook-summary,
  .ebooks .ebook-more {
    margin-bottom: -3.312rem;
  }
}
.ebooks .ebook-more {
  display: none;
}
@media only screen and (max-width: 1024px) {
  .ebooks .ebook-more {
    display: block !important;
  }
}
.ebooks .ebook-more .button {
  margin: 1rem 0 0.125rem;
}
.ebooks .ebook-name {
  margin: 0.625rem 0 0.125rem;
  font-size: 1rem;
  color: $blue;
}
.ebooks .ebook-author {
  font-size: 0.875rem;
  color: $orange;
}
.banner {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  min-height: 375px;
  height: 375px;
  margin: 0;
}
.banner.page .banner-caption {
  margin-top: 2.313rem;
}
.banner-caption {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 0;
  right: 0;
  width: 100%;
  max-width: 100%;
  padding: 0 0.938rem;
  font-size: 1.125rem;
  font-weight: 600;
  text-align: center;
  color: #fff;
}
.banner-caption .title,
.banner-caption h1,
.banner-caption h2,
.banner-caption h3,
.banner-caption h4,
.banner-caption h5,
.banner-caption h6 {
  display: block;
  margin: 0;
  font-size: 2rem;
  font-weight: 600;
  color: #fff;
  text-transform: uppercase;
}
.banner-caption p {
  font-size: 1.125rem;
  font-weight: 600;
}
.sentence {
  background-color: #0b2e4a;
}
.sentence-image {
  width: 100%;
  margin: 0;
  padding: 1.563rem 0.938rem;
  text-align: center;
}
@media only screen and (min-width: 768px) {
  .sentence-image {
    width: 40%;
    padding: 6.25rem 0.938rem;
    float: right;
  }
}
.sentence-image img {
  max-height: 180px;
}
.sentence-content {
  width: 100%;
  padding: 1.563rem 0.938rem;
  margin: 0;
  color: #fff;
  text-align: center;
}
@media only screen and (min-width: 768px) {
  .sentence-content {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 60%;
    left: 0;
  }
}
.sentence-content .author {
  font-size: 0.938rem;
  font-weight: 600;
  color: #addfff;
}
.sentence-content .title,
.sentence-content h1,
.sentence-content h2,
.sentence-content h3,
.sentence-content h4,
.sentence-content h5,
.sentence-content h6 {
  display: block;
  margin: 0 0 0.938rem;
  font-size: 2rem;
  font-weight: 600;
  color: #fff;
}
.storys {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0 0.938rem 3.125rem;
  color: #1f1f1f;
  background-color: #626262;
}
@media only screen and (min-width: 768px) {
  .storys {
    padding: 3.125rem 0.938rem 6.25rem;
  }
}
.storys .page-header {
  color: #1f1f1f;
}
.storys .page-header .title,
.storys .page-header h1,
.storys .page-header h2,
.storys .page-header h3,
.storys .page-header h4,
.storys .page-header h5,
.storys .page-header h6 {
  color: #1f1f1f;
}
.footer {
  position: relative;
  color: #fff;
}
.footer ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.footer a {
  color: #fff;
}
.footer a:hover,
.footer a:focus {
  color: #fff;
  text-decoration: underline;
}
.footer .widgets {
  position: relative;
  overflow: hidden;
  zoom: 1;
  background-color: #1f1f1f;
}
.footer .widgets-background {
  position: relative;
  z-index: 1;
  padding: 3.125rem 0.938rem 2.188rem;
  background-size: 300px;
}
.footer .widget {
  padding-bottom: 0.938rem;
}
.footer .widget-header {
  margin-bottom: 0.938rem;
}
.footer .widget-header .title {
  display: block;
  font-size: 1.125rem;
  color: #fff;
}
.footer .widget-content {
  padding: 0 0 0.938rem;
  font-size: 0.875rem;
}
.footer .widget-content .sociais li {
  display: inline-block;
  margin-right: 0.625rem;
  font-size: 1.5rem;
}
.footer .widget-content .sociais li:last-child {
  margin: 0;
}
.footer .widget-content .corporate p {
  font-size: 0.75rem;
  line-height: 1.7;
}
.header-page {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: table;
  table-layout: fixed;
  text-align: center;
  width: 100%;
  height: 400px;
}
.header-page-caption {
  display: table-cell;
  vertical-align: middle;
  padding: 3.125rem;
}
.header-page-caption .title,
.header-page-caption h1,
.header-page-caption h2,
.header-page-caption h3,
.header-page-caption h4,
.header-page-caption h5,
.header-page-caption h6 {
  margin: 3.75rem 0 0;
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 1.5px;
  color: #fff;
  text-transform: uppercase;
}
.labels {
  display: block;
  margin-bottom: 0.25rem;
  font-size: 0.75rem;
  font-weight: 300;
  color: #fff;
}
.input-transparent,
.input-outline {
  display: block;
  max-width: 100%;
  width: 100%;
  padding: 0.438rem 0.625rem;
  font-size: 0.75rem;
  line-height: 1.5;
  color: #fff;
  border: 0;
  border: 1px solid #fff;
  background-color: transparent;
}
.input-transparent:focus,
.input-outline:focus {
  outline: 0;
  color: #1f1f1f;
  background-color: #fff;
}
.input-transparent::-webkit-input-placeholder,
.input-outline::-webkit-input-placeholder {
  color: #fff;
}
.input-transparent:-moz-placeholder,
.input-outline:-moz-placeholder {
  color: #fff;
}
.input-transparent::-moz-placeholder,
.input-outline::-moz-placeholder {
  color: #fff;
}
.input-transparent:-ms-input-placeholder,
.input-outline:-ms-input-placeholder {
  color: #fff;
}
input,
select,
textarea {
  font-family: 'Open Sans', sans-serif;
}
.iziModal {
  background: transparent;
}
.iziModal-navigate > button {
  -ms-filter: none;
  filter: none;
  opacity: 1;
}
.iziModal-columns {
  padding: 0 0.938rem;
}
.iziModal-body {
  padding: 3.125rem 1.563rem;
  color: #fff;
  background: $blue;
}
@media only screen and (max-width: 768px) {
  .iziModal-body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
  }
}
.iziModal-body .closer {
  float: right;
  font-size: 1.5rem;
  cursor: pointer;
}
.iziModal-body-content {
  font-size: 0.75rem;
  text-transform: uppercase;
}
.iziModal-body .page-header {
  padding: 0 0 0.938rem;
  text-align: left;
}
.iziModal .ebooks-modal {
  padding: 3.125rem;
}
.iziModal .ebooks-modal .title {
  display: block;
  font-size: 1.125rem;
}
.iziModal .ebooks-modal .author {
  display: block;
  font-size: 0.875rem;
}
.menu {
  -webkit-transition: 0.5s all ease-in-out;
  transition: 0.5s all ease-in-out;
  position: absolute;
  top: 0;
  right: 0;
  bottom: auto;
  left: 0;
  z-index: 5;
  padding: 0;
  background-color: transparent;
}
.menu.is-active {
  padding: 0.188rem 0;
}
@media only screen and (max-width: 1024px) {
  .menu.active {
    padding: 0.188rem 0;
    background-color: #1f1f1f;
  }
  .menu.active .menu-container {
    position: absolute;
    top: 6rem;
    right: 0;
    bottom: auto;
    left: 0;
    padding: 1.563rem;
    background: #1f1f1f;
  }
}
@media only screen and (min-width: 1170px) {
  .menu {
    padding: 0.625rem 0;
  }
}
.menu-container {
  -webkit-transition: 0.5s all ease-in-out;
  transition: 0.5s all ease-in-out;
}
@media only screen and (max-width: 1024px) {
  .menu-container {
    position: absolute;
    top: -100vh;
    right: 0;
    bottom: auto;
    left: 0;
    padding: 1.563rem;
    background: #1f1f1f;
  }
}
.menu-hamburger {
  padding: 0;
  text-align: right;
}
@media only screen and (min-width: 1024px) {
  .menu-hamburger {
    display: none;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    visibility: hidden;
  }
}
.menu-hamburger .hamburger {
  padding: 1.094rem 0 0.938rem;
  outline: none;
}
.menu-hamburger .hamburger:focus {
  outline: none;
}
.menu-hamburger .hamburger-inner,
.menu-hamburger .hamburger-inner:before,
.menu-hamburger .hamburger-inner:after {
  background-color: #fff;
}
.menu-navigation {
  text-align: center;
}
.menu-navigation > ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.menu-navigation > ul > li {
  display: block;
  padding: 0.313rem;
}
@media only screen and (min-width: 1024px) {
  .menu-navigation > ul > li {
    display: inline-block;
  }
}
.menu-navigation > ul > li > a {
  display: block;
  padding: 0.313rem;
  font-size: 0.938rem;
  font-weight: 400;
  color: #1f1f1f;
  text-decoration: none;
  text-transform: uppercase;
}
.menu .dropdown-menu {
  padding: 0;
  border: 0;
  border-radius: 0;
}
.menu .dropdown-menu > li > a {
  padding: 0.625rem 0.938rem;
  font-size: 1rem;
}
.menu .dropdown-menu >.active>a,
.menu .dropdown-menu >.active>a:focus,
.menu .dropdown-menu >.active>a:hover {
  color: #fff;
  background: $blue;
}
.iziModal {
  background: transparent;
}
.iziModal-navigate > button {
  -ms-filter: none;
  filter: none;
  opacity: 1;
}
.iziModal-columns {
  padding: 0 0.938rem;
}
.iziModal-body {
  padding: 3.125rem 1.563rem;
  color: #fff;
  background: $blue;
}
@media only screen and (max-width: 768px) {
  .iziModal-body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
  }
}
.iziModal-body .closer {
  float: right;
  font-size: 1.5rem;
  cursor: pointer;
}
.iziModal-body-content {
  font-size: 0.75rem;
  text-transform: uppercase;
}
.iziModal-body .page-header {
  padding: 0 0 0.938rem;
  text-align: left;
}
.iziModal .ebooks-modal {
  padding: 3.125rem;
}
.iziModal .ebooks-modal .title {
  display: block;
  font-size: 1.125rem;
}
.iziModal .ebooks-modal .author {
  display: block;
  font-size: 0.875rem;
}
.panel {
  margin-bottom: 0;
  border: 0;
  border-radius: 0;
  -webkit-box-shadow: 0 0 0 transparent;
  box-shadow: 0 0 0 transparent;
  margin: 0;
}
.panel-group .panel + .panel {
  margin: 0;
}
.panel-body {
  padding: 10px;
}
.panel-body:before,
.panel-body:after {
  content: " ";
  display: table;
}
.panel-body:after {
  clear: both;
}
.panel-heading,
.panel-default > .panel-heading {
  padding: 0;
  border: 0;
  background-color: transparent;
}
.panel-title {
  margin: 0;
  border: 0;
  font-size: 1.25rem;
  font-weight: 600;
  color: #3372a4;
  text-align: center;
  text-transform: uppercase;
  background-color: transparent;
}
.panel-title a {
  display: inline-block;
  position: relative;
  padding: 1.25rem 0.938rem;
  margin: 3.125rem 0;
}
.panel-title a:after {
  content: '';
  position: absolute;
  top: auto;
  right: 0;
  bottom: 8px;
  left: auto;
  width: 30px;
  height: 16px;
  background-image: url("../img/page-header-red.png");
}
.panel-title a.collapsed {
  display: block;
  margin: 0;
  text-align: left;
  border-bottom: 1px solid #1f1f1f;
}
.panel-title > a,
.panel-title > small,
.panel-title > .small,
.panel-title > small > a,
.panel-title > .small > a {
  color: inherit;
  text-decoration: none;
}
.panel-title > a:hover,
.panel-title > small:hover,
.panel-title > .small:hover,
.panel-title > small > a:hover,
.panel-title > .small > a:hover {
  text-decoration: none;
}
.collapse.in .panel-body {
  padding-bottom: 3.125rem;
}
.panel-body {
  -webkit-transition: 0.5s all ease-in-out;
  transition: 0.5s all ease-in-out;
  border: 0;
}
.panel-group .panel-heading + .panel-collapse > .panel-body,
.panel-group .panel-heading + .panel-collapse > .list-group {
  border: 0;
}
.pre-posts-blog {
  position: relative;
  padding-bottom: 1.875rem;
}
.pre-posts-blog-thumbnail {
  position: relative;
  height: 9.375rem;
  overflow: hidden;
}
@media only screen and (min-width: 768px) {
  .pre-posts-blog-thumbnail {
    height: 15rem;
  }
}
.pre-posts-blog-thumbnail:hover .pre-posts-blog-thumbnail-cover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
.pre-posts-blog-thumbnail-cover {
  -webkit-transition: 0.5s all ease-in-out;
  transition: 0.5s all ease-in-out;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.pre-posts-blog-content {
  font-size: 0.813rem;
}
.pre-posts-blog-content-paragraph {
  max-height: 60px;
  overflow: hidden;
  zoom: 1;
  margin-bottom: 0.313rem;
}
.pre-posts-blog-content-paragraph p {
  margin: 0;
  font-size: 0.813rem;
}
.pre-posts-blog-content .learn-more {
  color: $orange;
  text-transform: uppercase;
}
.pre-posts-blog-content .header {
  margin: 0.625rem 0;
}
.pre-posts-blog-content .header-times {
  display: block;
  margin: 0 0 0.313rem;
  font-size: 0.75rem;
  font-weight: 600;
  color: #1f1f1f;
}
.pre-posts-blog-content .header-times .the-author {
  color: $orange;
  text-transform: uppercase;
}
.pre-posts-blog-content .header-title {
  margin: 0 0 0.625rem;
  font-size: 1.125rem;
  font-weight: 600;
  color: $blue;
}
@media only screen and (min-width: 480px) {
  .pre-posts-blog-content .header-title {
    font-size: 1.25rem;
  }
}
.pre-posts-blog-content .header-title a {
  color: $blackLight;
  text-transform: uppercase;
}
.pre-posts-blog-content .header-title a:hover {
  color: $orange;
  text-decoration: none;
}
.pagination {
  width: 100%;
  height: 100%;
  text-align: center;
  text-transform: uppercase;
}
.pagination .page-numbers {
  padding: 0 0.313rem;
  font-size: 1.25rem;
  font-weight: 600;
  color: $orange;
}
.pagination .current {
  color: $blue;
}
.pre-posts {
  padding: 0 0 2.5rem;
}
.pre-posts-post {
  position: relative;
  display: block;
  height: 25rem;
  margin: 0 0.438rem;
  color: #fff;
  text-decoration: none;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.pre-posts-post:hover,
.pre-posts-post:focus {
  color: #fff;
  text-decoration: none;
}
.pre-posts-post:hover .content,
.pre-posts-post:focus .content {
  -ms-filter: none;
  filter: none;
  opacity: 1;
  visibility: visible;
  height: 200px;
}
.pre-posts-post-wrapper {
  position: absolute;
  top: auto;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1.563rem;
}
.pre-posts-post .title {
  font-size: 1rem;
  color: #fff;
  padding: 0 0 0.938rem;
}
.pre-posts-post .the-date {
  display: block;
  padding: 0.625rem 0 0;
  font-weight: 300;
}
.pre-posts-post .content {
  height: 0;
  overflow: hidden;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
  visibility: hidden;
  font-size: 0.875rem;
  font-weight: 300;
  color: #fff;
  -webkit-transition: 0.7s all ease-in-out;
  transition: 0.7s all ease-in-out;
}
.search-box {
  *zoom: 1;
  width: auto;
  max-width: 20rem;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
  padding: 0.313rem 0.313rem;
  color: #1f1f1f;
  text-align: center;
  border: 0.063rem solid #1f1f1f;
}
.search-box:before,
.search-box:after {
  content: '';
  display: table;
}
.search-box:after {
  clear: both;
}
.search-box-label {
  padding-right: 0.625rem;
  border: 0;
  outline: none;
  background: transparent;
}
.search-box-input {
  font-size: 0.875rem;
  border: none;
  outline: none;
  background: transparent;
}
.search-box-input::-webkit-input-placeholder {
  color: #1f1f1f;
}
.search-box-input:-moz-placeholder {
  color: #1f1f1f;
}
.search-box-input::-moz-placeholder {
  color: #1f1f1f;
}
.search-box-input:-ms-input-placeholder {
  color: #1f1f1f;
}
.services-home {
  padding: 1.563rem 0 4.375rem;
  background-color: #f4ebdd;
}
.services-home-block {
  -webkit-transition: 0.5s all ease-in-out;
  transition: 0.5s all ease-in-out;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  display: block;
  height: 360px;
  margin: 0 0 1.875rem;
  overflow: hidden;
  color: #fff;
  text-align: center;
  background-color: #0b2e4a;
  background-image: url("../img/contabilidade.jpg");
}
.services-home-block:hover,
.services-home-block:focus {
  text-decoration: none;
}
.services-home-block .header {
  -webkit-transition: 0.5s all ease-in-out;
  transition: 0.5s all ease-in-out;
  display: table;
  table-layout: fixed;
  width: 100%;
  height: 120px;
  margin-bottom: 0.938rem;
  background-color: rgba(84,140,184,0.7);
}
.services-home-block .header .title {
  display: table-cell;
  vertical-align: middle;
  margin: 0;
  padding: 0.625rem 0.938rem;
  font-size: 1.375rem;
  font-weight: 600;
  color: #fff;
  text-transform: uppercase;
}
.services-home-block .content {
  -webkit-transition: 0.5s all ease-in-out;
  transition: 0.5s all ease-in-out;
  position: absolute;
  right: 0;
  bottom: -70px;
  left: 0;
  width: 100%;
  padding: 0.938rem;
}
.services-home-block .content-image {
  margin: 0;
  padding: 0 4.375rem 5rem;
  text-align: right;
}
.services-home-block:hover {
  -webkit-box-shadow: inset 0 -200px 150px -60px rgba(2,30,64,0.7);
  box-shadow: inset 0 -200px 150px -60px rgba(2,30,64,0.7);
}
.services-home-block:hover .header {
  background-color: rgba(2,30,64,0.7);
}
.services-home-block:hover .content {
  bottom: 0;
}
@media only screen and (max-width: 970px) {
  .services-home-block {
    -webkit-box-shadow: inset 0 -200px 150px -60px rgba(2,30,64,0.7);
    box-shadow: inset 0 -200px 150px -60px rgba(2,30,64,0.7);
  }
  .services-home-block .header {
    background-color: rgba(2,30,64,0.7);
  }
  .services-home-block .content {
    bottom: 0;
  }
}
.sidebar {
  padding: 0 0.313rem;
}
@media only screen and (min-width: 480px) {
  .sidebar {
    padding: 0 1.563rem;
  }
}
.sidebar-children {
  max-width: 25rem;
  margin: 0 auto;
}
.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.sidebar-newsletter {
  padding: 1.563rem 1.25rem;
  margin: 0 auto 1.25rem;
  font-size: 1.25rem;
  color: #fff;
  text-align: center;
  background-color: $blackLight;
}
.sidebar-services li {
  display: block;
  margin: 0 0 1.25rem;
  text-align: right;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.sidebar-services a {
  display: block;
  padding: 1.375rem 1.875rem 1.25rem;
  font-size: 2.375rem;
  font-weight: 600;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: 0.5s padding ease-in-out;
  transition: 0.5s padding ease-in-out;
}
.sidebar-services a:hover,
.sidebar-services a:focus {
  padding: 1.375rem 2.5rem 1.25rem 1.875rem;
}
.sidebar-widget .widget-title {
  padding: 0.938rem 1.25rem;
  font-size: 1.25rem;
  color: #fff;
  text-align: center;
  background-color: $blackLight;
}
.sidebar-widget li {
  display: block;
  padding: 0.938rem 0;
  border-bottom: 0.125rem solid #1f1f1f;
}
.sidebar-widget li a {
  padding: 0.625rem 0;
  font-size: 0.875rem;
  color: #1f1f1f;
  text-transform: uppercase;
}
.slick-dots {
  position: absolute;
  top: auto;
  right: 0;
  bottom: 3.125rem;
  left: 0;
  padding: 0;
  margin: 0;
  text-align: center;
}
.slick-dots li {
  display: inline-block;
  padding: 0.313rem;
}
.slick-dots li button {
  width: 0.938rem;
  height: 0.25rem;
  overflow: hidden;
  line-height: 0;
  color: #fff;
  cursor: pointer;
  border: 0;
  background-color: #fff;
}
.slick-dots li.slick-active > button {
  color: #808080;
  background-color: #808080;
}
.steps {
  padding: 3.125rem 0;
  color: #545454;
  background: #f8f8f8;
}
.steps h1,
.steps h2,
.steps h3,
.steps h4,
.steps h5,
.steps h6,
.steps .title {
  padding: 0.938rem 0;
  margin: 0;
  font-size: 2rem;
}
.steps .step {
  text-align: center;
}
.steps .step img {
  margin: 0 0 0.938rem;
}
.storytelling {
  position: relative;
  height: 450px;
  padding: 1.563rem 0;
  font-size: 2.25rem;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  background-color: #0b2e4a;
}
.storytelling .title,
.storytelling h1,
.storytelling h2,
.storytelling h3,
.storytelling h4,
.storytelling h5,
.storytelling h6 {
  font-size: 2rem;
  line-height: 1.3;
}
.storytelling--blue {
  height: 100%;
  padding: 4.375rem 0 5.313rem;
  font-size: 1.625rem;
  font-weight: 700;
  color: #5797bf;
  text-transform: none;
  background-color: #0b2e4a;
}
.storytelling--blue:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  overflow: hidden;
  border-bottom: 30px solid #f4ebdd;
  border-top: 0px solid transparent;
  border-left: 1920px solid transparent;
  border-right: 0 solid transparent;
}
.storytelling--blue .title,
.storytelling--blue h1,
.storytelling--blue h2,
.storytelling--blue h3,
.storytelling--blue h4,
.storytelling--blue h5,
.storytelling--blue h6 {
  font-size: 1.625rem;
  font-weight: 700;
}
.superior-menu {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-color: #222;
}
.superior-menu ul {
  padding: 0.438rem 0.313rem;
  margin: 0;
  list-style: none;
  font-size: 12px;
}
.superior-menu ul li {
  display: inline-block;
  margin-right: 10px;
}
.superior-menu ul li:last-child {
  margin: 0;
}
.superior-menu ul li a {
  color: #fff;
}
.superior-menu ul li a:hover,
.superior-menu ul li a:focus {
  text-decoration: none;
}
.superior-menu ul li a.red {
  color: #c44a4d;
}
.superior-menu .menu-right {
  text-align: right;
}
.alignnone {
  margin: 5px 5px 5px 0;
}
.aligncenter,
div.aligncenter {
  display: block;
  margin: 5px auto 5px auto;
}
.alignright {
  float: right;
  margin: 5px 0 5px 5px;
}
.alignleft {
  float: left;
  margin: 5px 5px 5px 0;
}
.size-full {
  max-width: 100%;
  width: auto;
  height: auto;
  max-height: 100%;
}
a img.alignright {
  float: right;
  margin: 5px 0 5px 5px;
}
a img.alignnone {
  margin: 5px 5px 5px 0;
}
a img.alignleft {
  float: left;
  margin: 5px 5px 5px 0;
}
a img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.wp-caption {
  background: #fff;
  border: 1px solid #f0f0f0;
  max-width: 96% /* Image does not overflow the content area */;
  padding: 5px 3px 10px;
  text-align: center;
}
.wp-caption.alignnone {
  margin: 5px 20px 20px 0;
}
.wp-caption.alignleft {
  margin: 5px 20px 20px 0;
}
.wp-caption.alignright {
  margin: 5px 0 20px 20px;
}
.wp-caption img {
  border: 0 none;
  height: auto;
  margin: 0;
  max-width: 98.5%;
  padding: 0;
  width: auto;
}
.wp-caption p.wp-caption-text {
  font-size: 11px;
  line-height: 17px;
  margin: 0;
  padding: 0 4px 5px;
}
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  white-space: nowrap;
  height: 1px;
  width: 1px;
  overflow: hidden;
}
.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 2px 2px rgba(0,0,0,0.6);
  box-shadow: 0 0 2px 2px rgba(0,0,0,0.6);
  clip: auto !important;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000 /* Above WP toolbar. */;
}
.zigzag {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.zigzag .row {
  height: 100%;
  overflow: hidden;
}
@media only screen and (min-width: 1024px) {
  .zigzag .row {
    max-height: 18.75rem;
    min-height: 18.75rem;
    height: 18.75rem;
  }
}
@media only screen and (max-width: 1024px) {
  .zigzag-texto {
    padding: 1.875rem 0;
  }
}
.response {
  display: none;
  margin-bottom: 0.625rem;
}
.response .message {
  display: none;
}
.response .success {
  color: #0cff0c;
}
.response .error {
  color: #f00;
}
.response .waiting {
  color: #ff0;
}
label.error {
  color: #f00;
  font-size: 0.75rem;
}
