$action_black = #313131

.action
	padding rem(30px 0)
	color $white
	text-align center
	background-color $action_black
	
	.text
		padding rem(8px 0)
		font-size rem(18px)
		font-weight 600
		color $white
		
	a
		display block
		margin rem(10px 20px)
		+above(480px)
			display inline-block
	
	&--faq
		background-color $black