$action_blue = #2d3142
$action_blue_light = #69cbf7

.action-specialist
	padding rem(30px 0)
	color $action_blue_light
	text-align center
	background-color $action_blue
	
	.text
		padding rem(8px 0)
		font-size rem(18px)
		font-weight 600
		color $action_blue_light
		text-transform uppercase