.carousel-clients
	cover()
	padding rem(0 20px 50px)
	color $white
	background-color #313131
	background-image url('../img/background-clientes.jpg')
	
	.container
		position relative
	
	.page-header
		
		.title
			color $white
	
	.owl-clients
		
		.item
			display block
			text-align center
			img
				display inline-block
				max-width 100%
				width auto
				
	.owl-direction
		position absolute
		top 155px
		&.button-prev
			left -20px
		&.button-next
			right -20px
		