.owl-home
	position relative
	
	.item
		cover()
		height 100vh
		min-height 500px
		background-position top center
		
		&-caption
			vertical-center(-50%)
			left 0
			right 0
			max-width 1250px
			width 100%
			margin 0 auto
			padding rem(45px 15px 0)
			z-index 2
			color $white
			+above(600px)
				font-size rem(24px)
				p
					font-size rem(24px)
			
			h1,h2,h3,h4,h5,h6, .title
				position relative
				display block
				font-size rem(32px)
				font-weight 700
				margin rem(0 0 10px)
				padding 0
				color $white
				line-height 1.2
				&:before
					content ''
					absolute: rem(-15px) auto auto 0
					size: rem(60px), rem(4px)
					background $white
				+above(600px)
					font-size rem(42px)