.footer
	position relative
	color $white
	
	ul
		padding 0
		margin 0
		list-style none
	
	a
		color $white
		&:hover
		&:focus
			color $white
			text-decoration underline		
	
	.widgets
		position relative
		overflow hidden
		zoom 1
		background-color $black
		
		&-background
			position relative
			z-index 1
			padding rem(50px 15px 35px)
			background-size 300px
	
	.widget
		padding-bottom rem(15px)
		
		&-header
			margin-bottom rem(15px)
			.title
				display block
				font-size rem(18px)
				color $white
		
		&-content
			padding rem(0 0 15px)
			font-size rem(14px)
			
			.sociais li
				display inline-block
				margin-right rem(10px)
				font-size rem(24px)
				&:last-child
					margin 0
					
			.corporate p
				font-size rem(12px)
				line-height 1.7