$footer_gray = #434343
$footer_gray_dark = #313131
$footer_blue = #3372a4
$footer_white = #e8e8e8

.footer
	position relative
	color $footer_white
	
	ul
		padding 0
		margin 0
		list-style none
	
	a
		color $footer_white
		&:hover
		&:focus
			color $footer_white
			text-decoration underline
	
	&-corporate
		padding rem(5px 0)
		font-size rem(12px)
		background-color $footer_gray_dark
		
		.text-center,
		.text-left,
		.text-right
			text-align center
		+above(768px)
			.text-left
				text-align left
			.text-right
				text-align right
				
		.padding
			padding rem(13px 0)
		
		ul li
			display inline-block
			margin-right rem(20px)
			font-size rem(32px)
			&:last-child
				margin 0
	
	.widgets
		position relative
		overflow hidden
		zoom 1
		background-color $footer_gray
		.svg-bottom
			position absolute
			bottom -150px
			left 0px
			z-index 0
			+above(970px)
				opacity .2
		
		&-background
			position relative
			z-index 1
			padding rem(50px 15px 35px)
			background-size 300px
	
	.widget
		padding-bottom rem(15px)
		
		&-header
			margin-bottom rem(15px)
			.title
				display block
				font-size rem(18px)
				font-weight 600
				color $footer_blue
				text-transform uppercase
				
		&-content
			margin-bottom rem(15px)
			font-size rem(14px)
			color $footer_white
			