// css
.menu
	transition(.5s all ease-in-out)
	absolute: 0 0 auto
	z-index 5
	padding 0
	background-color transparent
	&.is-active
		padding rem(3px 0)
	
	+below(1024px)
		&.active 
			padding rem(3px 0)
			background-color $black
			.menu-container
				absolute: rem(96px) 0 auto
				padding rem(25px)
				background $black
				
	+above(1170px)
		padding rem(10px 0)
		
	&-container
		transition .5s all ease-in-out
		+below(1024px)
			absolute: -100vh 0 auto
			padding rem(25px)
			background $black
			
	&-hamburger
		padding 0
		text-align right
		+above(1024px)
			display none
			opacity 0
			visibility hidden
		.hamburger
			padding rem(17.5px 0 15px)
			outline none
			&:focus
				outline none
		.hamburger-inner
		.hamburger-inner:before
		.hamburger-inner:after
			background-color $white
		
	&-navigation
		text-align center
			
		> ul
			list-style none
			padding 0
			margin 0
			> li
				display block
				padding rem(5px)
				+above(1024px)
					display inline-block
				> a
					display block
					padding rem(5px)
					font-size rem(15px)
					font-weight 400
					color $black
					text-decoration none
					text-transform uppercase
					
	.dropdown-menu
		padding 0
		border 0
		border-radius 0
		
		
		> li > a
			padding rem(10px 15px)
			font-size rem(16px)
			
		>.active>a, 
		>.active>a:focus, 
		>.active>a:hover
			color $white
			background $blue
			