.search-box
	center(rem(320px))
	padding rem(5px 5px 7px)
	color $white
	text-align center
	border rem(1px) solid $white
	
	&-label
		padding-right rem(10px)
	
	&-input
		border none
		outline none
		background transparent
		+placeholder()
			color $white