.search-box
	center(rem(320px))
	padding rem(5px 15px 7px)
	color $black
	text-align center
	border rem(1px) solid $black
	
	&-label
		padding-right rem(10px)
	
	&-input
		border none
		outline none
		background transparent
		+placeholder()
			color $black