.slick-dots
	absolute: auto 0 rem(50px)
	padding 0
	margin 0
	text-align center
	
	li
		display inline-block
		padding rem(5px)
		
		button
			size: rem(15px), rem(4px)
			overflow hidden
			line-height 0
			color $white
			cursor pointer
			border 0
			background-color $white
			
		
		&.slick-active > button
			color gray
			background-color gray