.steps
	padding rem(50px 0)
	color #545454	
	background #f8f8f8
	
	h1,h2,h3,h4,h5,h6, .title
		padding rem(15px 0)
		margin 0
		font-size rem(32px)
		
	.step
		text-align center
		img
			margin rem(0 0 15px)