// Todo e qualquer estilo para importar
@import 'kouto-swiss'
@import 'rupture'
@import 'jeet'
@import url('../vendor/bootstrap/dist/css/bootstrap.css');
font-face('Open Sans', '../fonts/open-sans/hinted-OpenSans-Light', 300)
font-face('Open Sans', '../fonts/open-sans/hinted-OpenSans', 400)
font-face('Open Sans', '../fonts/open-sans/hinted-OpenSans-Semibold', 600)
font-face('Open Sans', '../fonts/open-sans/hinted-OpenSans-Bold', 700)