// Todo e qualquer estilo para elementos globais
box-sizing-reset()

body
html
	max-width 1920px
	margin 0 auto
	padding 0
	font-size 100%
	font-family 'Open Sans', sans-serif
	line-height 1.4
	
img
	max-width 100%
	
p
	margin 0 0 rem(15px)
	padding 0
	&:last-child
		margin 0
		
strong,b,h1,h2,h3,h4,h5,h6
	font-weight 600
	
main
	overflow hidden
	zoom 1