// Todo e qualquer estilo para importar
@import 'kouto-swiss'
@import 'rupture'
@import 'jeet'
@import url('../vendor/bootstrap/dist/css/bootstrap.min.css')
@import url('../vendor/flexboxgrid/dist/flexboxgrid.min.css')
@import url('../vendor/css-hamburgers/dist/hamburgers.min.css')
@import url('../vendor/slick-carousel/slick/slick.css')
@import url('../vendor/font-awesome/css/font-awesome.min.css')
@import url('../vendor/izimodal/css/iziModal.min.css')
font-face('Open Sans', '../fonts/open-sans/hinted-OpenSans-Light', 300)
font-face('Open Sans', '../fonts/open-sans/hinted-OpenSans', 400)
font-face('Open Sans', '../fonts/open-sans/hinted-OpenSans-Semibold', 600)
font-face('Open Sans', '../fonts/open-sans/hinted-OpenSans-Bold', 700)