$testi_wine = #42131d
$testi_wine_light = #581825

.carousel-testimonials
	position relative
	color $white
	background-color $testi_wine
	
	.owl-testimonials
		position relative
		background-color $testi_wine_light
		
		.zigzag
			clearfix()
			position relative
			
			&-image
				cover()
				absolute: 0, auto, 0, 0
				size: 50%, 100%
			  
			&-content
				position relative
				display table
				table-layout fixed
				size: 50%, 360px
				padding rem(25px 100px)
				float right
				font-size rem(14px)
				color $white
				text-align justify
				background-color $testi_wine_light
				&:before
					transition(.5s all ease-in-out)
					content ''
					absolute: 0, auto, 0, -150px
					size: 150px, 100%
					overflow hidden
					border-bottom 360px solid $testi_wine_light
					border-top 0px solid transparent
					border-left 50px solid transparent
					border-right 0 solid transparent
					
				h1,h2,h3,h4,h5,h6
					margin rem(0 0 15px)
					font-size rem(18px)
					font-weight 400
					text-transform uppercase
					
				p
					font-size rem(14px)
					
				.middle
					display table-cell
					vertical-align middle
					size: 100%
					
			&:hover
				.zigzag-content:before
					absolute: 0, auto, 0, -100px
					
					
			+below(768px)
				.zigzag-image
					position static
					min-height 250px
					width 100%
					
				.zigzag-content
					size: 100%
					min-height 250px
					padding rem(30px)
					float none
					&:before
						content initial
						border none
						
					
					