.cases
	
	&-container
		position relative
		padding rem(0 50px)
		+above(768px)
			padding rem(0 100px)
	
	.owl-cases
		.cases-item
			transition(.5s all ease-in-out)
			position relative
			min-height 500px
			padding-bottom rem(30px)
			margin rem(0 5px)
			overflow hidden
			cursor pointer
			&:hover
				background-color $black
				.cases-item-cover
					transform(scale(1.1))
					opacity .3
					
				.cases-item-the-content
					absolute: auto 0 100px 0
					opacity 1
					visibility visible
					
			&-cover
				cover()
				transition(.5s all ease-in-out)
				absolute: 0
				size: 100%
				
			&-content
				absolute: auto 0 0 0
				width 100%
				padding rem(50px 15px)
				z-index 1
				text-align center
				
			&-the-content
				transition(.5s all ease-in-out)
				absolute: auto 0 0 0
				padding rem(20px)
				opacity 0
				visibility hidden
				font-size rem(18px)
				color $white
				
				.title
					font-size rem(22px)
					font-weight 600
					color $white
					text-decoration none
					text-transform uppercase
					
	.owl-direction
		position absolute
		top 50%
		size: 30px
		margin-top -15px
		&:before
		&:after
			background-color #00558b
			height 2px
			top 27px
		&:after
			top 6px
		&.button-prev
			left 0
		&.button-next
			right 0
				