$contact_wine = #42131d

.contact
	padding rem(200px 0 0)
	cover()
	background-image url('../img/contact-brasil-contadores.jpg')
	
	.page-header .title
		font-weight 600
		color $white
	
	&-column
		max-width 450px
		width 100%
		margin 0 auto
		padding rem(0 30px)
		color $white
		text-align center
		background-color alpha($contact_wine, 80%)
		+above(768px)
			height 1000px
			padding rem(30px 30px 50px)
		
		.header
			padding rem(25px 15px 15px)
			font-size rem(15px)
			font-weight 300
			text-align center
			
			.title
				font-size rem(20px)
				font-weight 600
				&:before
					bottom -6px
				
		.content
			padding rem(0 0 30px)
			font-size rem(16px)
			font-weight 300
			text-align center
			+above(768px)
				padding rem(0 0 30px)
			
		.forms
			padding rem(0 0 30px)
			+above(768px)
				padding rem(0 0 100px)
				&:last-child
					padding 0