.grid-clients
	cover()
	padding rem(0 20px 0px)
	color $white
	background-color #313131
	background-image url('../img/background-clientes.jpg')
	
	&-item
		padding-bottom rem(50px)
		text-align center
	
	img
		display inline-block
		max-width 100%
		width auto
		